body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #EDE6DB;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Bitter', serif;
  font-size: 3em;
  padding: 30px 0 0 0;
  color: #1A3C40;
}

h2 {
  color: #1A3C40;
  font-weight: bold;
}

h3 {
  color: #1A3C40;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.top {
  background-color: #417D7A;
  padding: 50px 0 0 0;
  position: relative;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 30px;
}

.middle {

}

.bottom {

}

.pro {
  text-decoration: underline;
}

.cloudtop {
  position: absolute;
  right: 200px;
}

.cloudbottom {
  position: absolute;
  left: 200px;

}

.skillpng1 {
  width: 25%;
  float: left;
  margin: auto 20px auto auto;
}

.skillpng2 {
  width: 25%;
  float: right;
  margin: auto auto auto 30px;
}
.liolios {
  padding-top: 20px;
  border-radius: 50%;
}
.intro {
  padding-bottom: 20px;
}


