body {
  background-color: #43919B;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #383838;
  border-width: 5px;
  width: 5%;
}
h1 {
  color: #143F6B;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin:0;
   }
h3 {
  color: #143F6B;
  font-family: 'Open Sans', sans-serif;
  line-height: 2px;
}

img {
  border-radius: 50%;
  font-family: 'Open Sans', sans-serif;
}
